<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong> Pariah Guild. </strong> Made with ❤ by <a href="https://jgthms.com">Paola Reyes</a>
    </p>
  </div>
</footer>
