<!DOCTYPE html>
<html lang="en" class="">
<head>
 <% include partials/head %>
 <% include partials/script %>
</head>
<body>
  <% include partials/menu %>
  <section class="hero is-light calendar-section">
  <div class="hero-body">
    <div class="container">
      <div id='calendar'></div>
    </div>
  </div>
  </section>
</body>
</html>
