<!DOCTYPE html>
<html lang="en" class="">
<head>
 <% include partials/head %>
 <% include partials/script %>
</head>
<body>
<% include partials/menu %>
<section class="hero">
<div class="hero-body">
  <div class="columns">
    <div class="column is-one-fifth">
      <figure class="image flag-image custom-image">
        <img src="./images/alliance.png">
      </figure>
    </div>
    <div class="column middle">
      <div class="columns">
        <div class="column">
          <h1 class="main-title">
            A better guild
          </h1>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image custom-image custom-title">
            <img src="./images/pariah2.png">
          </figure>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h1 class="main-title">
            for a better world.
          </h1>
        </div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <figure class="image flag-image  custom-image">
        <img src="./images/alliance.png">
      </figure>
    </div>
  </div>
</div>
</section>
<div class=".container">
  <div class="columns">
    <div class="column is-full">
      <figure class="image">
        <img src="./images/ragnaros.png">
      </figure>
      <article class="tile notification is-info is-light">
        <p class="subtitle">Thursday, October 3, 2019 9:15 pm est </p>
        <p class="subtitle-right">Effect: do you not know how to zoom</p>
      </article>
    </div>
  </div>
  <div class="columns">
    <div class="column is-full">
      <figure class="image">
        <img src="./images/ragnaros2.png">
      </figure>
      <article class="tile notification is-info is-light">
        <p class="subtitle"> Friday, October 11, 2019 00:04 am est </p>
      </article>
    </div>
  </div>
<!-- % include partials/footer % -->
</body>
</html>
