
body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  background-color: #6a89cc;
}

.calendar-section {
  border-top-style: solid;
  border-top-width: 25px;
  border-top-color: #f6b93b;
}

@font-face {
  font-family: 'LifeCraft';
  src: url('../fonts/LifeCraft_Font.ttf');
}

.column {
  text-align: center;
}

a {
  color: #00B7FF;
}

.main-title {
  font-family: 'LifeCraft';
  color: #f6b93b;
  font-size: 4rem;
}

.middle {
  padding: 10px;
}

.custom-title {
  max-height: 100%;
  max-width: 60%;
  position: relative;
  top: 50%;
  width: auto;
  height: auto;
  transform: translateY(-50%);
}

.flag-image{
  width: 80%;
}

.custom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle-right{
  margin-left: auto;
  margin-right: 0;
}
